*{
    margin: 0;
    padding: 0;
}
.red{
    background: rgb(224, 170, 170);
    height: 60px;
    color: brown;
}
.green{
    background: rgb(153, 235, 153);
    color: rgb(47, 90, 47);
    height: 50px;
}